<div class="panel-heading">
	<h4><%=title%></h4>
</div>
<div class="panel-body">
	<p><%=description%></p>
</div>
<div class="panel-footer">
	Создано: <time datetime="<%=created_at.toISOString()%>" pubdate><%=created_at.toLocaleString('ru')%></time>
	<a href="https://vk.com/id<%=user_id%>" class="btn btn-info pull-right readmore" target="_blank"><i class="glyphicon glyphicon-user"></i> Автор</a>
	<div class="clearfix"></div>
</div>